<form [formGroup]="Form" (ngSubmit)="submit()">

    <div class="row rounded  p-4" style="border:1px solid #CECCCC;">
        
        <div *ngIf="_error" class="input-group  mb-3 alert-danger rounded py-2 px-3">
            {{_error}}
        </div>
        <div *ngIf="_success" class="input-group mb-3 alert-info rounded py-2 px-3">
          {{_success}}
      </div>
  
    <div class="input-group mb-3">
        <span class="input-group-text" id="ancien" >Le mot de passe actuel*</span>
        <input type="password" class="form-control" formControlName="ancien" [ngClass]="Form.controls['ancien'].hasError('required')  ? 'is-invalid' : 'is-valid'" placeholder="ancien*" aria-label="ancien" aria-describedby="ancien" required>
        <div class="invalid-feedback" *ngIf="Form.controls['ancien'].hasError('required')">
            Ce champs est obligatoire 
          </div>
    </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nouveau mot de passe*</span>
        <input type="password" class="form-control" [ngClass]="Form.controls['nouveau'].hasError('required') || Form.controls['nouveau'].hasError('minlength')  ? 'is-invalid' : 'is-valid'" formControlName="nouveau" placeholder="nouveau*" aria-label="nouveau" aria-describedby="nouveau"> 
        <div class="invalid-feedback" *ngIf="Form.controls['ancien'].hasError('required')|| Form.controls['nouveau'].hasError('minlength')">
            Ce champs est obligatoire et 8 caractère au minimum 
          </div>
    </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Confirmaion de mot de passe*</span>
        <input type="password" class="form-control" [ngClass]="Form.controls['confirmation'].invalid ? 'is-invalid' : 'is-valid'" formControlName="confirmation" placeholder="confirmation*" aria-label="confirmation" aria-describedby="confirmation">
        <div class="invalid-feedback" *ngIf="Form.controls['confirmation'].invalid">
            Confirmaion de mot de passe est invalide 
          </div>
    </div>

      <div class="w-100">

        <button class="btn btn-success rounded" type="submit">Modifier </button>

    </div>

</div> 
</form>
